/*----------------------------------------*/
/* BASIC SETUP */
/*----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}

/*----------------------------------------*/
/* REUSABLE CONTENTS */
/*----------------------------------------*/

.row {
    max-width: 100%;
    margin: 0 auto;
}

.heading {
    font-size: 200%;
    margin: 40px;
    position: relative;
    text-transform: uppercase;
}

.heading .underline {
    height: 3px;
    width: 100px;
    margin: 10px;
    background-color: rgb(0, 255, 255, .7);
}



/*----------------------------------------*/
/* NAVBAR  */
/*----------------------------------------*/


.main-nav {
    width: 100%;
    list-style: none;
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding-left: 5%;
    z-index: 1;
}

.main-nav li {
    display: inline-block;
    margin: 20px 15px;
    font-size: 120%;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: .3s;
    padding-bottom: 18px;
}

.main-nav li a:hover {
    border-bottom: 3px solid rgb(0, 255, 255, .9);
}


/*----------------------------------------*/
/* HEADER  */
/*----------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.selfie {
    background-image: url(/resources/img/my-photo.jpg);
    height: 25vh;
    min-width: 200px;
    width: 12vw;
    position: absolute;
    top: 30vh;
    left: 20vw;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.welcome {
    position: absolute;
    color: rgb(255, 255, 255, .95);
    top: 60vh;
    left: 17vw;
    font-size: 180%;
}


/*----------------------------------------*/
/* ABOUT ME  */
/*----------------------------------------*/



.left-content,
.right-content {
    display: inline-block;
}

@media only screen and (min-width: 1601px) {
    #about-me {
        height: 70vh;
    }

    .left-content {
        width: 45%;
        padding-left: 20%;
        padding-top: 5%;
        font-size: 110%;
    }

    .right-content {
        float: right;
        height: 80%;
        width: 50%;
    }

    .right-content .image {
        background-image: url(/resources/img/about-me-photo.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        border-left: 150px solid #fff;
        border-top: 60vh solid transparent;
    }

    .right-content .small-image {
        display: none;
    }
}

/*----------------------------------------*/
/* GALLERY  */
/*----------------------------------------*/

.gallery {
    max-width: 100%;
    text-align: center;
}

.photos {
    margin: 0 4vw;
}

.photo {
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 0 20px;
}

.photo img {
    height: 180px;
    width: 270px;
    object-fit: cover;
}

.photo h3 {
    font-weight: 500;
    color: rgb(0, 0, 0, .7);
}

/*----------------------------------------*/
/*  CONTACT  */
/*----------------------------------------*/

form {
    height: 450px;
    width: 100vw;
    padding-left: 30vw;
}

form input {
    border-radius: 5px;
}

form input,
textarea {
    height: 50px;
    border: 1px solid rgb(0, 0, 0, .3);
    padding: 15px;
    width: 40vw;
    min-width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
}

form label {
    font-size: 18px;
    padding-left: 10px;
    font-style: italic;
}

form textarea {
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    font-family: inherit;
}

.invalid {
    border: 1px solid red;
}

form div {
    position: relative;
    width: 40vw;
    min-width: 300px;
}

.error {
    font-size: 18px;
    color: red;
    float: right;
    position: absolute;
    top: -25px;
    right: 0px;
    display: none;
}

.button {
    margin-top: 30px;
    width: 200px;
    cursor: pointer;
}

.button:hover {
    border: 1px solid transparent;
    background-color: rgb(0, 0, 0, .4);
}

.social-media {
    display: inline-block;
    margin: 0 2vw;
    cursor: pointer;
}

.logo {
    height: 50px;
}

/*----------------------------------------*/
/*  GALLERY ADMIN */
/*----------------------------------------*/

body{
    position: relative;
}


#gallery-admin .photos{
    width: inherit;
    margin: 0 1%;
    padding: 0;
}

#gallery-admin .photo{
    margin: 0 .2%;
}

#gallery-admin .photos h3{
    position: absolute;
    bottom: 70px;
    left: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255, .7);
    background-color: rgb(0, 0, 0, .7);
    width: 270px;
}

#photo-details{
    display: none;
    position: fixed;
    top: 10%;
    height: 580px;
    background-color: rgb(255, 255, 255, .7);
}

.close{
    height: 30px;
    opacity: .6;
    float: right;
    margin: 10px 40px;
    cursor: pointer;
}

#gallery-admin .photo:hover img[name="photo"]{
    opacity: .2;
}

#button-parent{
    width: 70%;
    text-align: right;
}

.add-button{
    height: 40px;
    width: 120px;
    font-size: 17px;
    color: rgb(0, 0, 0, .7);
    border: 1px solid rgb(0, 0, 0, .1);
    border-radius: 8px;
    background-color: rgb(200, 200, 200, .3);
    cursor: pointer;
}

.photo{
    position: relative;
}

.add-button:hover{
    border: 1px solid transparent;
    background-color: rgb(200, 200, 200, .2);
}

#icons{
    position: absolute;
    top: 50px;
    left: 80px;
    display: none;
}

#gallery-admin .photo:hover #icons{
    display:block;
}

#edit-icon, #delete-icon{
    height: 60px;
    width: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, .7);
    border-radius: 50%;
    cursor: pointer;
}

#edit-icon:hover, #delete-icon:hover{
    background-color: rgb(100, 100, 100,.5);
    border: 1px solid transparent;
}

/*----------------------------------------*/
/*  FOR MOBILE */
/*----------------------------------------*/

@media only screen and (max-width: 1600px) {

    .left-content {
        margin: 0 10%;
    }

    .heading {
        font-size: 150%;
    }
}

@media only screen and (max-width: 700px) {


    .main-nav li {
        font-size: 60%;
    }


}